<div class="container">
  <!-- the custom property on app-cockpit is, like this
  {serverCreated} is an (custom) event listener
  onServerAdded is a method bound to the component
  $event is a payload with stuff in it -->
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
